{% extends "index.html" %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg text-uppercase" id="mainNav" >
    <div class="container">
    </div>
</nav>
    <section class="page-section mb-0" id="about">
        <div class="container">

            <h2 class="page-section-heading text-center text-uppercase ">Listado de proyectos</h2>
        </div>
    </section>
    <section class="page-section-heading text-center text-uppercase " style = "color:#EFEFEF; font-family:gotham rounded;font-style:medium; margin-top: 5%;">
       
        {% for p in proyectos %}

            <li>{{p}}
            <button style=" margin-left: 1%; margin-top: 0.5% ;background-color:#ffD205; border-radius: 12px; border-color: #ffD205;">
                <a href="{% url 'eliminar_proyecto' p.id %}" style="color: #333; text-decoration: none;">Eliminar</a>
            </button>
            
            <button style=" margin-top: 0.5% ;background-color:#ffD205; border-radius: 12px; border-color: #ffD205;">
                <a href="{% url 'editar_proyecto' p.id %}" style="color: #333; text-decoration: none;">Editar</a>
            </button>

            </li>
            {% endfor %}


            <button style=" margin-top: 0.5% ;background-color:#ffD205; border-radius: 12px; border-color: #ffD205;">
                <a href="{% url 'agregar_proyecto' %}" style="color: #333; text-decoration: none;">Agregar proyectos</a>
            </button>


    </section>
{% endblock %}