{% extends "index.html"%}
{% load static%}
{% block content %}
<nav class="navbar navbar-expand-lg text-uppercase" id="mainNav" style="background-color: #333 ;">
    <div class="container">
    </div>
</nav>
<section class="page-section mb-0" id="about" style="background-color:#ffD205;">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase "style = "color:#333; font-family:gotham rounded;font-style:medium;">Quiénes somos</h2>
        </div>
</section>
<section class="page-section mb-0" id="about" style="background-color:#666 ;">
    <div class="container">
        <!-- About Section Heading-->

        <!-- Icon Divider
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>-->
        <!-- About Section Content-->
        <div class="row" style = "color:#EFEFEF; font-family:gotham rounded;font-style:medium;">
            <div class="col-lg-4 ms-auto"><p class="lead">El Pro Chivilcoy es un partido nacido en pandemia. Se constituye principalmente de voluntarios; que viniendo desde el sector privado ponen el hombro para construír un Chivilcoy mejor tomando como valores el respeto, el trabajo y la honestidad.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">A diferencia de los partidos políticos más tradicionales: El Pro Chivilcoy no se compone de personas que tengan una carrera política, son vecinos unidos con una causa en común: El bien de la sociedad y la prosperidad de nuestra ciudad.</p></div>

        </div>
        <!-- About Section Button-->
    </div>
    <div style="position: center ;">
            (Website hecho por Cristian Moriggia)
    </div>
</section>

<section class="page-section mb-0" id="about" style="background-color:#ffD205;">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase "style = "color:#333; font-family:gotham rounded;font-style:medium;">Nuestros Referentes:</h2>
    </div>
</section>
<section><p></p></section>
<div class="row pb-5 mb-4" style="background-color: #333 ;" >
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" style="background-color: #333 ;">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://scontent.faep8-1.fna.fbcdn.net/v/t1.6435-9/42280411_10215051063363872_5753126173508894720_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=53bp4IJ4s9AAX8mBjab&_nc_ht=scontent.faep8-1.fna&oh=00_AT_mcm5yHhy-PG5lEU-y-kvUw4Wnb6htb5UEAQGeazkd_A&oe=62D32E69" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Marta</h5>
            <p class="small text-muted">Presidente</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://scontent.faep8-2.fna.fbcdn.net/v/t39.30808-6/240272897_10223020449556983_494986493750390878_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=aKradEEScCQAX8l-ymN&tn=7zhQcpk8t6v3TwDj&_nc_ht=scontent.faep8-2.fna&oh=00_AT_Rk8zGNMeYMfPUt9JTHFCb37YXsQEtbJf-Ax26_ak6yA&oe=62B3257E" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Gabi</h5>
            <p class="small text-muted">🐀</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://scontent.faep8-2.fna.fbcdn.net/v/t1.6435-9/32423066_10215698192746205_207116581577162752_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_ohc=EF8IiBhQ2ZkAX9w5YdC&_nc_ht=scontent.faep8-2.fna&oh=00_AT_kNzvrikkiKE8_2Es1kzAHaIJ1e1Fuk_ZHK7XFaY3AmQ&oe=62D2DDD8" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Fede</h5>
            <p class="small text-muted">Secretario de Fernet</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static "/pro_website/assets/img/pablito.jpg" %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Pablito</h5>
            <p class="small text-muted">Secretario de Asado</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}